$font-stack: "Montserrat", sans-serif;
$color-green: #0fc500;
$color-blue: #347af3;
$color-gray: #565656;
$color-gray-bold: #565656;
$color-black: #222222;
$color-body: #e6e7ec;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-default: 15px;
$font-size-large: 16px;
$font-size-xl: 20px;
