@use "../utils/index" as variable;

.head {
  min-height: 62px;
}

.iconBg {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 20px rgba(126, 126, 126, 0.1);
  border-radius: 50%;
  column-gap: 15px;
}

.menu-right {
  column-gap: 20px;
}

.user {
  column-gap: 10px;
}

.user h5 {
  font-size: variable.$font-size-small;
}

.active-menu {
  color: variable.$color-green;
  font-weight: 700;
  border-bottom: 3px solid variable.$color-green;
}
